/* CAKES */

.cakes-container {
    background-image: url('../images/list-background.png');
    height: 1930px;
    padding: 0 117px;
}

.cakes-container__title {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: bold;
}

.cakes-container__cakes {
    margin: 200px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cakes-cake {
    cursor: pointer;
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 0.3s ease;
}

.cakes-cake:hover {
    transform: scale(102%);
}

.cakes__cake-image {
    box-shadow: 0 15px 36px 10px rgb(0 0 0 / 20%);
    border-radius: 40px 40px 20px 20px;
}

.cakes__cake-name {
    font-size: 3rem;
    font-weight: 500;
    padding: 30px 0;
}

.cakes__cake-description {
    font-weight: 300;
    text-align: center;
    margin-bottom: 10rem;
}
